/*
    GENERAL
*/

/* =Colors
-----------------------------------------------------------------------------*/
@color--primary:                #4823EA;
@color--secundary:            #2CFFA8;
@color--text:                       #222;

/* =Fonts
-----------------------------------------------------------------------------*/
.title{
    font-family: 'CircularStd-Bold';
}

h1,h2,h3,h4,h5,h6{
    .title;
}

p, label,span{

}
