/*
GENERAL
*/

/* =Colors
-----------------------------------------------------------------------------*/
@color--primary:              	 #4823EA;
@color--secundary:         	 #2CFFA8;
@color--text:                      	#1E252D;

@color--accent:			#F9F9F9;
@color--divider: 			rgba(0, 0, 0, 0.2);
@color--placeholder:		#CCCCCC;
@select: 					#FFE400;
@text--select: 			#000000;

/* =Fonts
-----------------------------------------------------------------------------*/
.title{
	font-family: 'CircularStd-Bold';
}

.text{
	font-family: 'SourceCodePro-Medium';
}

.text-light{
	font-family: 'SourceCodePro-It';
}

.text-bold{
	font-family: 'SourceCodePro-Bold';
}

h1,h2,h3,h4,h5,h6{
	.title;
}

a,button,p, label,span{
	.text;
}

/* =Header
-----------------------------------------------------------------------------*/
.header{
	width: 100%;
	position: relative;
	background-color: @color--accent;
	padding-top: 10px;
	padding-bottom: 10px;
	h1{
		margin: 0;
	}
}

/* =Footer
-----------------------------------------------------------------------------*/
.footer{
	width: 100%;
	position: relative;
	background-color: @color--accent;
	padding-top: 10px;
	padding-bottom: 10px;
	p{
		text-align: center;
		margin: 0;
	}
}

/* =Images
-----------------------------------------------------------------------------*/
.banner{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	.before;

	img{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: relative;
		.middle;
	}
}
